<div id="admin-dashboard-bg" class="container-fluid mt-5 pt-5 pb-5 bg-light">
    {{#if user}}
        <div class="row mt-5 mb-5">
            <h1 class="h1">What do you need master {{user.last_name}}?</h1>
        </div>

        {{> adminLinks}}

        {{else}}

        <h1>Hi! Who are you ??</h1>

    {{/if}}
</div>
