<div class="row">
    <a class="col-lg-3 col-md-4 col-sm-4 btn btn-warning btn-lg" type="button" href="/admin/createRoom">Create a Room</a>
</div>

<hr class="line">

<div class="row">
    <a class="col-lg-3 col-md-4 col-sm-4 btn btn-warning btn-lg" type="button" href="/admin/list">List All Rooms</a>
</div>

<hr class="line">

<div class="row">
    <a class="col-lg-3 col-md-4 col-sm-4 btn btn-success btn-lg" type="button" href="/admin/listUsers">List All Users</a>
</div>

<hr class="line">

<div class="row">
    <a class="col-lg-3 col-md-4 col-sm-4 btn btn-info btn-lg" type="button" href="/admin/listBooked">List All Booked Rooms</a>
</div>

