<footer class="jumbotron jumbotron-fluid mb-0 pt-3 pb-3">
    <div class="container">
        <div class="text-center">
            <ul class="social-network social-circle">
                <li><a href="https://www.linkedin.com/in/arthur-dibe-verissimo/" class="icoLinkedin" title="Dibe's Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://github.com/ArthurDibe" class="icoGithub" title="Dibe's Github" target="_blank"><i class="fa fa-github"></i></a></li>
            </ul>
            <hr class="style15">
            <p class="title">Developed By: 	&copy;<b>Dibe</b></p>
        </div>
    </div>
</footer>